

html {
    height: auto;
    width: auto;
  }
  
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: radial-gradient(#eab101, #7c5d03);
    height: 100px;
    font-size: 50pt;                                       
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
  }
  
  .banner img {
    /* Remove the fixed height and width and use max-height for scalability */
    max-height: 75px; /* You can adjust this value as per your design */
    width: auto; /* This will maintain the aspect ratio */
  }
  
  .banner img:first-child {
    margin-left: 1%; /* Pushes the first image to the right */
  }
  
  @media (max-width: 600px) {
    .banner img {
      max-height: 50px; /* Smaller size on small screens */
    }
  }

  .sidebar{
    position: absolute;
    top: 100px;
    left: 0;
    background: radial-gradient(#eab101, #7c5d03);
    width: 120px;
    height: calc(100vh - 100px);
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
  }

  .sidebar li {
    display: block;
    color: #fff;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
  }

  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
  }

  .sidebar a:hover{
    background: #023a76;
    color: #023a76;
    cursor: pointer;
  }
  
  
  body {
    position: relative; /* Constrain the absolute positioning within the body */
    background-color: #001d3d;
    margin: 0;
    padding: 0;
  }
  
  label {
    color: white;
    font-size: large;
  }
  .center-form {
    position: relative; /* Establish a stacking context */
    z-index: 1; /* Ensure the form is above the image */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: relative;
  }
  

  
  .button {
    background: #eab101;
    background: radial-gradient(#eab101, #7c5d03);
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    cursor: pointer;
    font-size: large;
  }
  .button:hover {
    background: #eab101;
    background: radial-gradient(#eab101, #7c5d03);
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    cursor: pointer;
  }
  
  .name {
    color: #fff;
    text-align: center;
    font-size: 50pt;
    border: 0;
    padding:0;
    margin-top:30;
  }
  .name2{
    color: #fff;
    text-align: center;
    font-size: 20pt;
    border: 0;
    padding:0;
    margin-top:-40;
  }

  a {
    color: white;
    padding-left: 10px;
    font-size: large;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }

  nav li {
    display: inline;
  }

  nav a {
    color: white;
    padding: 10px;
    font-size: large;
    text-decoration: none;
  }

  .table {
    width: 60vw;
    max-width: calc(60vw - 120px);
    border-collapse: collapse;
    margin-top: 20px;
    /* margin-left: 130px; */
    align-items: center;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
  }

  .table-header {
    background-color: #023a76;
    color: #fff;
    border: 1px solid #898686;
  }

  .table-titles {
    padding: 10px;
  }

  .table-body {
    background-color: #FFFFFF;
  }

  .table-cell {
    padding: 10px;
    border: 1px solid #898686;
  }

  .table-cell:hover {
    background-color: #6b6b6b;
    color: #fff;
  }

  .table-cell:last-child {
    border-bottom: none;
  }

  .logo {
    position: absolute;
    top: 100px;
    width: 100vw;
    height: calc(100vh - 100px);
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #tables-container{
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 120px;
    width: 100%;
  }

  #tables-container h2 {
    color: white;
    font-size: large;
  }

  #tablesContainer{
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 120px;
    width: 100%;
  }

  #tablesContainer h2 {
    color: white;
    font-size: large;
  }