<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>User Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
  <h2 class="banner">
    <img src=static/images/Engineering.png alt="Engineering">
    <img src=static/images/NGC.png alt="NGC logo">
  </h2>

  <div>
    <img src=static/images/Janusimage.png alt="Janus Logo" class="logo">
  </div>
  <div>
    <h3 class="name">J.A.N.U.S.</h3>
    <h3 class="name2">Electrical & Technical Diagram Assistant</h3>
      <form class="center-form" onsubmit="login(); return false;">
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Username" required><br><br>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>
        <input class="button" type="submit" value="Login">
      </form>
    </form>
  </div>
  <script src="script.js"></script>
</body>

</html>