<!-- FILEPATH: /Users/richardolarez/SeniorCapstone/24040FlaskFramework/templates/EDV.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EDV</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EDV.css') }}">
    <script src="https://unpkg.com/htmx.org@latest"></script>

    <script>
        function addRow() {
            var table = document.getElementById("myTable");
            var newRow = table.insertRow(table.rows.length);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            cell1.innerHTML = '<td>...</td>';
            cell2.innerHTML = '<td>...</td>';
            cell1.setAttribute("contenteditable", "true");
            cell2.setAttribute("contenteditable", "true");
        }
        function deleteRow() {
            var table = document.getElementById("myTable");
            var lastRowIndex = table.rows.length - 1;
            table.deleteRow(lastRowIndex);
        }
    </script>
</head>

<body>
    <!--<h1>Home / Electrical Diagram View</h1> -->
    <h2 class="banner">
        Home / Electrical Diagram View
    </h2>
    <h1>Current Electrical Diagram</h1>
    <div>
        <img src="static/images/png_1.png" alt="Electrical Diagram" style="max-width: 100%; height: auto; float: left;">
        <div class="selectComp">Please select <br>a component</div>
        <button class="button" onclick="addRow()">Add+</button><br><br><br>
        <table id="myTable">
            <tr>
                <th>Component</th>
                <th>Attribute</th>
            </tr>
            <tr>
                <td contenteditable="true">...</td>
                <td contenteditable="true">...</td>
            </tr>
            <tr>
                <td contenteditable="true">...</td>
                <td contenteditable="true">...</td>
            </tr>
            <tr>
                <td contenteditable="true">...</td>
                <td contenteditable="true">...</td>
            </tr>
        </table>
    </div>
    
    <div class="footer">
        <a href="/menu"><button class="button">Menu</button></a>
        <a href="/"><button class="button">Logout</button></a>
        <button class="button" onclick="deleteRow()">Delete Row</button>
    </div>
</body>
</html>