<!-- FILEPATH: /Users/richardolarez/SeniorCapstone/24040FlaskFramework/templates/EDV.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Project View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://unpkg.com/htmx.org@latest"></script>

    <style>
        #myTable{
            width: 90%;
        }
        .container {
            display: flex;
            height: 90vh; /* Full height of the viewport */      
        }
        .left, .right {
            flex: 1; /* Each section takes up equal space */
            flex-direction: column;
            padding: 20px; /* Optional: Adds some padding inside sections */
            align-items: center;
            text-align: center;
            justify-content: flex-start;
        }   
        .componentDropdown {
            width: 90%; /* Adjust this value to fill more of the container */
            max-width: 400px; /* Optional: Set a max width for larger screens */
            margin: 10px auto; /* Center the dropdowns horizontally within their container */
        }
        .footer{
            align-content: center;
        }
        .hidden {
            display: none;
        }
    </style>
</head>

   
<body>
  <!-- Banner -->
    <div class="banner">
        <img src=static/images/Engineering.png alt="Engineering">
        <img src=static/images/NGC.png alt="NGC logo">
    </div>
      <!-- Side bar -->
      <div class="sidebar">
        <ul >
          <li><a href="/home">Home</a></li>
          <li><a href="/menu">Main Menu</a></li>
          <li><a href="/export_project/1">Export</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>

    <!-- Logo Background -->
    <div class="logo" style="background-image: url(static/images/Janusimage.png);">
      <!-- Display Project Name Based on session storage variable -->
      <h3 class="name2">Project Name: <span id="projectName"></span></h3>
      
      <!-- Start of main body -->
      <div id="tables-container"></div>
      <div id="tableContainer">
        <h3 class="name2">Project Components</h3>
      </div>
    </div>

  </div>
  </body>

    <script>

        function addRow() {
            var table = document.getElementById("myTable");
            var newRow = table.insertRow(table.rows.length);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            cell1.innerHTML = '<td>...</td>';
            cell2.innerHTML = '<td>...</td>';
            cell1.setAttribute("contenteditable", "true");
            cell2.setAttribute("contenteditable", "true");
        }
        function deleteRow() {
            var table = document.getElementById("myTable");
            var lastRowIndex = table.rows.length - 1;
            table.deleteRow(lastRowIndex);
        }

        function showTables() {
          fetch('/tid_tables/1')
              .then(response => response.json())
              .then(data => {
                  // Generate tables dynamically
                  Object.keys(data).forEach(tableKey => {
                      let tableData = data[tableKey];
                      let tableHTML = '<h2>' + tableKey + '</h2><table  class="table"><tr>';
                      tableHTML += '<thead class="table-header">';

                      // Add table headers if tableData is not empty
                      if (tableData.length > 0) {
                          Object.keys(tableData[0]).forEach(header => {
                              tableHTML += '<th class="table-titles">' + header + '</th>';
                          });
                          tableHTML += '</tr>';
                          tableHTML += '</thead>';
                          // Generate table body
                          tableHTML += '<tbody class="table-body">';
                          // Add table rows
                          tableData.forEach(row => {
                              tableHTML += '<tr>';
                              Object.values(row).forEach(value => {
                                  tableHTML += '<td>' + value + '</td>';
                              });
                              tableHTML += '</tr>';
                          });
                          tableHTML += '</tbody>';
                      } else {
                          // If tableData is empty, only generate table headers
                          Object.keys(data[tableKey]).forEach(header => {
                              tableHTML += '<th class="table-titles">' + header + '</th>';
                          });
                          tableHTML += '</tr>';
                          tableHTML += '</thead>';
                      }

                      tableHTML += '</table>';
                      document.getElementById('tables-container').innerHTML += tableHTML;
                  });
              })
              .catch(error => console.error('Error fetching data:', error));
      }



        function showComponents() {
            // Retrieve the project id from session storage
            var projectId = sessionStorage.getItem("projectId");
            // Fetch components using the session storage project id
            fetch('/components/' + projectId)
                .then(response => response.json())
                .then(data => {
                    if (Array.isArray(data)) {
                        window.tableItems = data;
                        showTable(); // Initial table update when it's shown for the first time
                    } else {
                        console.error('Invalid data format received from API');
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }


        function generateTable(data) {
        let table = '<table class="table">';
        // Generate table header
        table += '<thead class="table-header">';
        table += '<tr>';
        for (const key in data[0]) {
          table += `<th class="table-titles">${key}</th>`;
        }
        table += '</tr>';
        table += '</thead>';
        // Generate table body
        table += '<tbody class="table-body">';
        data.forEach(item => {
          table += `<tr onclick="selectProject('${item.id}')" style="cursor: pointer;">`; // Added style to change cursor to pointer
          for (const key in item) {
        table += `<td class="table-cell">${item[key]}</td>`;
          }
          table += '</tr>';
        });
        table += '</tbody>';
        table += '</table>';
        return table;
      }

      function showTable() {
        const tableContainer = document.getElementById('tableContainer');
        tableContainer.innerHTML = generateTable(window.tableItems);
        tableContainer.classList.remove('hidden');
      }

        // Call the function to show tables when the page is loaded
      window.addEventListener('DOMContentLoaded', showTables());
      window.addEventListener('DOMContentLoaded', showComponents());

      // Retrieve the project name from session storage
      var projectName = sessionStorage.getItem("projectName");

      // Update the HTML with the project name
      document.getElementById("projectName").innerText = projectName;

      // Retrieve the project id from session storage
      var projectId = sessionStorage.getItem("projectId");

        
    </script>
</html>