<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<!-- Start of Main Body -->
<body>
	<!-- Banner -->
	<div class="banner">
		<img src=static/images/Engineering.png alt="Engineering">
		<img src=static/images/NGC.png alt="NGC logo">
	</div>
	<!-- Side bar -->
	<div class="sidebar">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/menu">Main Menu</a></li>
			<li><a href="/">Logout</a></li>
		</ul>
	</div>

	<!-- Start of main body -->
	<div class="logo" style="background-image: url(static/images/Janusimage.png);">
		<h3 class="name">J.A.N.U.S.</h3>
		<h3 class="name2">Electrical & Technical Diagram Assistant</h3>

		<p class="name2">J.A.N.U.S. : Junction Annotation & Network Utility System</p>

	</div>

</body>
</html>
