{%- extends "bootstrap/base.html" -%}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h2 class="banner">
        <img src=static/images/Engineering.png alt="Engineering">
        <img src=static/images/NGC.png alt="NGC logo">
    </h2>
	

    <div>
        <img src=static/images/Janusimage.png alt="Janus Logo" class="logo">
    </div>

    <h3 class="name">J.A.N.U.S.</h3>
    <h3 class="name2">Electrical & Technical Diagram Assistant</h3>

    <h3 class="name2">Login</h3>
	<form class="center-form" action="#" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" />
	<label for="password">Password:</label>
	<input type="password" name="password" />
	<button class="button" type="submit">Submit</button>
	</form>

	<nav>
		<ul>
			<li><a href="/register">Create account</a></li>
		</ul>
	</nav>

</body>
</html>

