<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Main Menu</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
  <!--<h1>Home / Electrical Diagram View</h1> -->
  <h2 class="banner">
    Home / Main Menu
  </h2>
  <div>
  </div>
  <div class="button-container">
    <a href="/edv"><button class="button">EDV</button></a><br><br>
    <input class="button" for="inputFile" type="file" id="inputFile" accept=".html" style="text-align: center;"><br><br>
    <a href="/"><button class="button">Logout</button></a><br><br>
  </div>
</body>
</html>